@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}



.carosel-caption {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@media (max-width: 768px) {
    .Toastify__toast-container {
      top: auto !important;
      bottom: 0 !important;
     
    }
  }
  