@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}


.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}



.carosel-caption {
  font-family: "Unlock", serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing:2px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px; /* Space between grid items */
}

.grid-item {
  background-color: #f9f9f9; /* Background color for grid items */
  border: 1px solid #ddd; /* Border for grid items */
  padding: 16px; /* Padding inside grid items */
  border-radius: 8px; /* Rounded corners */
}

.pagination {
  display: flex; /* Flexbox for pagination */
  justify-content: center; /* Center pagination */
  margin-top: 20px; /* Space above pagination */
}

.active {
  font-weight: bold; /* Bold text for active page */
}


@media (max-width: 768px) {
    .Toastify__toast-container {
      top: auto !important;
      bottom: 0 !important;
     
    }
  }
  