.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}


@media (max-width: 768px) {
    .Toastify__toast-container {
      top: auto !important;
      bottom: 0 !important;
     
    }
  }
  