@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}


.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}



.carosel-caption {
  font-family: "Unlock", serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing:2px;
}

.img-bg{
  background-image: url('./assets/surface-with-decorative-shoes-blank-space_23-2147630308.png');
  background-size: cover;
  background-position: center;

}

/* From Uiverse.io by mrhyddenn */ 
.cart-button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.cart-button span {
  margin: 10px;
}

.cart-button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.cart-button:hover {
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
}

.cart-button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}
 


@media (max-width: 768px) {
    .Toastify__toast-container {
      top: auto !important;
      bottom: 0 !important;
     
    }
    .text-border-sm-screen{
      text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }
    
  }
  