.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

/* Custom styles for react-toastify */
@media (max-width: 768px) { /* You can adjust the breakpoint as needed */
    .Toastify__toast-container {
      top: auto !important;
      bottom: 0 !important;
     
    }
  }
  