@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}


.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}



.carosel-caption {
  font-family: "Unlock", serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing:2px;
}

.img-bg{
  background-image: url('./assets/still-life-say-no-fast-fashion_23-2149669605.png');
  background-size: cover;
  background-position: center;
}



@media (max-width: 768px) {
    .Toastify__toast-container {
      top: auto !important;
      bottom: 0 !important;
     
    }
  }
  